.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #1e4d2b;
  box-shadow: 0 0 1px 1px darkcyan;
  background-image: url(https://antinote.s3.us-west-1.amazonaws.com/Antidote.gif);
  background-position: center;
  background-clip: padding-box;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100vh;
}
.titleContainer {
  display: flex;
  justify-content: center;
  background-color: #1e4d2b;
}
.title {
  border: 2px solid black;
  border-radius: 2px;
  box-shadow: 0 0 5px lightgreen;
  padding: 10px 20px;
  background-color: aqua;
  font-size: 80px;
  margin: 5px;
}
.modalContainer {
  display: flex;
  justify-content: center;
}

.modalButton {
  border: 2px solid lightgreen;
  border-radius: 2px;
  box-shadow: 0 0 5px lightgreen;
  border-style: inset;
  background-color: cyan;
  margin-bottom: 5px;
  padding: 15px;
  font-size: 25px;
}
.form {
  background-color: lightseagreen;
  border-radius: 5px;
}

.field {
  color: darkblue;
  border-color: darkblue;
}
.buttonContainer {
  margin-top: 5px;
}
