.notebookContainer {
  flex-direction: column;
  border: 2px solid red;
  padding: 0 50px;
}
.titleText {
  display: flex;
  justify-content: center;
  border: 2px solid blue;
}
.notebookContainer {
  display: flex;
  justify-content: center;
}
.notebook {
  border: 2px dashed purple;
}
.link {
  display: flex;
  justify-content: center;
}
.delete {
  margin: 20px 2px;
  padding: 5px;
}
.deleteButton {
  background-color: red;
  color: black;
}
.editModal {
  margin: 20px 2px;
  padding: 5px;
}
