.notebookContainer {
  flex-direction: column;
  border: 2px solid red;
  padding: 0 50px;
}
.titleText {
  display: flex;
  justify-content: center;
  border: 2px solid blue;
}
.notebookContainer {
  display: flex;
  justify-content: center;
}
.notebook {
  border: 2px dashed purple;
}
