.notebookContainer {
  flex-direction: column;
  border: 2px solid red;
  padding: 0 50px;
}
.titleText {
  display: flex;
  justify-content: center;
  border: 2px solid darkgreen;
  padding: 0 10px;
}
.notebookContainer {
  display: flex;
  justify-content: center;
}
.notebook {
  border: 2px dashed purple;
}
.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deleteWrapper {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  margin: 10px;
}
.deleteButton {
  background-color: red;
  color: black;
}
.linkWrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-left: 200px;
}
