.notebookCardWrapper {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: auto;
  grid-template-areas: "card card card";
  justify-content: center;
  align-content: center;
  padding-top: 20px;
}
.noteCard {
  grid-area: card;
}
