.noteCardContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
  gap: 10px;
}
.noteTitle {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: red;
  width: 25vw;
}
.noteContent {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: purple;
  width: 25vw;
  margin: 0;
}
.noteWrapper {
  border: 2px solid black;
}
