.headerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.title {
  text-align: center;
  font-size: 45px;
  margin: 0;
  color: #4b0082;
  border: 2px solid black;
  background-color: #087830;
  box-shadow: 0 0 2px 2px #006600;
  padding: 5px;
}
.editTitle {
  width: fit-content;
}
.cardWrapper {
  border: 2px solid lightseagreen;
  margin: 0 25px;
  box-shadow: 0 0 2px 2px #006600;
}
.menuContainer {
  display: inline-flex;
  flex-direction: column-reverse;
  position: relative;
}

.notebooks {
  display: flex;
  margin: 10px;
  padding: 10px;
}
.menuContent {
  position: absolute;
  top: 5px;
  left: 0;
  z-index: 1;
  list-style-type: none;
  border: 2px solid black;
  padding: 0;
}
.textAreaContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.editorWrapper {
  border: 2px solid black;
}
.notebooksContainer {
  min-height: 100vh;
}
