.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #087830;
  border: 2px solid darkcyan;
  border-style: inset;
  box-shadow: 0 0 2px 1px darkcyan;
  padding: 5px;
  min-width: 90vw;
}
.navLink,
a {
  border-radius: 2px;
  margin: 0;
  color: black;
  text-decoration: none;
  font-size: 16px;
  height: fit-content;
}
.navLink :visited {
  text-decoration: none;
}
.activeNav {
  background-color: #00ff7f;
  text-decoration: none;
}
.loginModal {
  margin: 0 5px;
}
.profileLinksWrapper {
  display: inline-flex;
  align-items: baseline;
}
.notes {
  display: inline-flex;
}
.notesButton {
  background-color: #00a86b;
  color: black;
  margin: 0 5px;
}
.homeProfile {
  display: inline-flex;
}
