.container {
  background-color: #1e4d2b;
  border-bottom: 1px solid darkcyan;
  box-shadow: 0 0 1px 1px darkcyan;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLink,
a {
  padding: 5px;
  color: black;
  text-decoration: none;
}
.navLink :visited {
  color: black;
  text-decoration: none;
}
.activeNav {
  background-color: lightgray;
  text-decoration: none;
}
.iconContainer {
  padding-top: 2px;
}
.profile {
  padding: 5px;
}
.logout {
  padding: 5px;
}
.logoutButton {
  font-size: 18px;
}
