.profileButton {
  height: fit-content;
}
.profileDropdown {
  position: absolute;
  margin: 0;
  top: 50px;
  left: 1px;
  padding: 5px;
  background-color: #01cccc;
  list-style-type: none;
  border-radius: 5px;
  border: 2px solid black;
  z-index: 1;
}
.profileContent {
  font-size: 18px;
}
.dropdownWrapper {
  display: flex;
  padding: 2px 5px;
}
.activeNav {
  background-color: #00ff7f;
  text-decoration: none;
}
.user {
  border: 2px solid green;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  border-style: inset;
  box-shadow: 0 0 2px 1px darkcyan;
}
.linksWrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.link {
  text-align: left;
  padding: 5px;
  margin: 2px;
  list-style: inside disc;
  border-style: inset;
  box-shadow: 0 0 2px 1px indigo;
  border: 2px solid indigo;
}
