.searchBar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.searchIcon {
  width: 20px;
  height: 25px;
}

.searchButton {
  display: inline-flex;
}
.searchForm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
