.form {
  background-color: lightseagreen;
  border-radius: 5px;
  padding: 5px;
}

.field {
  color: darkblue;
  border-color: darkblue;
}
.buttonContainer {
  display: flex;
  gap: 5px;
  margin-top: 5px;
  justify-content: center;
}
.modalButton {
  border: 2px solid lightgreen;
  border-radius: 2px;
  box-shadow: 0 0 5px lightgreen;
  border-style: inset;
  background-color: cyan;
}
